.footer {
    background-color: #EEEDED;
    text-align: center;
    padding: 30px 0; 
    width: 100%;
    box-sizing: border-box; 
    
    font-size: 14px; 
    color: #444;
    border-top: 1px solid #ffffff;
}

.redes-sociais {
    margin-bottom: 20px;
}

.icon-circle {
    display: inline-block;
    background-color: red;
    border-radius: 50%;
    width: 36px;
    height: 36px;
    margin: 0 6px;
    overflow: hidden;
    vertical-align: middle;
}

.icon-circle img {
    width: 60%;
    height: 60%;
    margin-top: 20%;
}

.footer-info {
    display: flex;
    flex-wrap: wrap;
    
    justify-content: space-around; 
    
    gap: 20px 30px; 
    
    margin-bottom: 20px; 
    
    padding: 0 20px; 
}

.info-bloco {
    text-align: left;
    max-width: 280px; 
    
    line-height: 1.4;
}

.info-bloco h4 {
    font-size: 14px; 
    font-weight: bold;
    color: #111;
    margin-bottom: 5px;
}

.info-bloco p {
    font-size: 13px; 
    margin: 2px 0;
    color: #333;
}

.footer-links {
    margin-top: 10px;
    margin-bottom: 10px;
}

.footer-links a {
    margin: 0 12px;
    font-size: 13px; 
    color: #333;
    text-decoration: none;
}

.footer-links a:hover {
    text-decoration: underline;
}

.footer-copy {
    font-size: 13px; 
    color: #111;
    margin-top: 5px;
}


@media (max-width: 768px) {
    .footer {
        padding: 20px 0;
        text-align: center;
    }
    
    .redes-sociais {
        margin-bottom: 20px;
    }
    
    .footer-info {
        flex-direction: column; 
        align-items: center; 
        gap: 25px; 
        padding: 0 15px; 
    }

    .info-bloco {
        max-width: 90%; 
        text-align: center; 
    }

    .info-bloco h4, .info-bloco p {
        text-align: center; 
    }
    
    .footer-links {
        display: flex;
        flex-direction: column;
        gap: 5px;
        margin-bottom: 15px;
    }
    
    .footer-links a {
        margin: 5px 0;
    }
}